* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-size: 16px;
  font-family: 'Montserrat', sans-serif;
}
/* Mix */
.page-wrapper {
  height: 100vh;
}
/* /Mix */
/* Main */
.main {
  height: calc(100% - 80px);
  display: flex;
  font-weight: 700;
}
/* Aside */
.aside {
  display: flex;
  flex-direction: column;
  width: 300px;
  height: 100%;
  background-color: black;
}
/* Logo */
.logo {
  display: flex;
  height: 90px;
  background-color: black;
  flex-shrink: 0;
  padding-left: 20px;
  align-items: center;
}
.logo__img {
  width: 50%;
}
/* /Logo */
/* Main-nav */
.main-nav {
  padding-bottom: 20px;
  background-color: black;
}
.main-nav__list {
  list-style: none;
}
.main-nav__item {
  padding: 5px 0px 5px 20px;
}
.main-nav__item:hover {
  border-left: 3px solid #adff2f;
  color: white;
}
.main-nav__link {
  color: #686868;
  text-decoration: none;
}
.main-nav__link:hover {
  color: white;
}
.main-nav__img {
  height: 30px;
  margin-right: 10px;
  vertical-align: middle;
}
/* /Main-nav */
/* Secondary-nav */
.secondary-nav {
  padding-left: 20px;
  height: 100%;
  background-color: black;
  overflow: hidden;
}
.secondary-nav__title {
  margin-bottom: 10px;
  color: white;
  text-transform: uppercase;
}
.secondary-nav__list {
  height: calc(100% - 22px);
  overflow-y: auto;
  list-style: none;
}
.secondary-nav__item {
  padding: 10px 0;
}
.secondary-nav__link {
  color: #686868;
  text-decoration: none;
}
.secondary-nav__img {
  margin-right: 10px;
  font-size: 40px;
  vertical-align: middle;
}
/* /Secondary-nav */
/* Aside-bottom */
.aside-bottom {
  height: auto;
  margin-top: auto;
  padding: 10px 20px;;
  background-color: black;
  flex-shrink: 0;
}
.aside-bottom__install {
  margin-bottom: 10px;
}
.aside-bottom__link {
  text-decoration: none;
  color: #686868;
}
.aside-bottom__download {
  margin-right: 10px;
  height: 20px;
  vertical-align: middle;
}
.aside-bottom__profile {
  margin-top: 20px;
}
.aside-bottom__img {
  display: inline-block;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: grey;
  vertical-align: middle;
}
.aside-bottom__name {
  margin-left: 10px;
  font-size: 1.25em;
  color: white;
}
/* /Aside-bottom */
@media screen and (max-width: 577px ) {
  .aside {
    display: none;
  }
}
/* Minimize */
.minimize {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  width: 60px;
  padding: 10px 10px;
  background-color: black;
}
@media screen and (min-width: 576px ) {
  .minimize {
    display: none;
  }
}
.minimize-top__img {
  display: inline-block;
  height: 40px;
}
.minimizie-top__img--mb20 {
  margin-bottom: 20px;
}
.minimize-top__img--border {
  border-radius: 50%;
  background-color: grey;
  vertical-align: middle;
}
.minimize-top__img--small {
  margin: auto 10px;
  height: 20px;
}
/* /Minimize */
/* /Aside */

/* Main-content */
.main-content {
  height: 100%;
  width: calc(100% - 300px);
  overflow-y: auto;
  background-color: #141922;;
  padding-top: 90px;
  color: white;
}
/* Upgrade */
.upgrade {
  width: calc(100% - 300px);
  height: 90px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  position: fixed;
  top: 0;
  right: 0;
  background-color: black;
  color: white;
  z-index: 1;
}
.upgrade__bottom {
  width: 300px;
  padding: 10px 30px;
  border: 2px solid white;
  border-radius: 20px;
  text-transform: uppercase;
  text-align: center;
}
@media screen and (max-width: 576px ) {
  .main-content {
    width: calc(100% - 60px);
  }
  .upgrade{
    width: calc(100% - 60px);
  }
}
/* /Upgrade */
/* Main-menu */
.main-menu {
  position: relative;
  width: 100%;
  overflow-y: auto;
  background-color: #141922;
}
.main-menu__list {
  margin: auto;
  width: 900px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  list-style: none;
}
.main-menu__item {
  margin: 20px 10px;
  text-transform: uppercase;
}
.main-menu__item:after:hover {
  content: "";
  width: 10px;
  height: 5px;
  background-color: green;
}
.main-menu__link {
  text-decoration: none;
  color: #686868;
}
/* Main-menu */
/* Main music */
.box {
  margin-left: 30px;
  margin-bottom: 30px;
}
.box-title {
  font-size: 1.75em;
}
.box-text {
  margin-top: 5px;
  font-size: 0.75em;
  color: #686868;
}
.box-music {
  display: flex;
  margin-top: 30px;
  list-style: none;
  color: #645E58;
}
.box-music__text {
  margin-top: 15px;
  font-size: 0.75em;
  color: #645E58;
}
.box-music__item {
  width: calc(100% / 6);
  padding-right: 30px;
  text-align: center;
}
.box-music__title {
  color: white;
}
@media screen and (max-width: 1200px) {
  .box-music {
    flex-wrap: wrap;
  }
  .box-music__item {
    width: 25%;
  }
}
@media screen and (max-width: 992px) {
  .box-music__item {
    width: 50%;
  }
}
.box-music__title {
  margin-top: 20px;
}
.box-music__img-container {
  position: relative;
  font-size: 0;
}
.box-music__img {
  width: 100%;
}
.box-music__img--radius {
  border: 0px;
  border-radius: 50%;
}
/* Overlay */
.overlay {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  background-color: rgba(0,0,0,0.5);
  height: 100%;
  width: 100%;
}
.overlay--radius {
  border: 0px;
  border-radius: 50%;
}
.overlay i {
  position: absolute;
  transform: translate(-50% , -50%);
  top: 50%;
  left: 50%;
  color: #fff;
  font-size: 70px;
  font-weight: bold;
}
.box-music__img-container:hover .overlay{
  display: block;
}
/* /Overlay */
/* /Main music */
/* /Main-content */
/* /Main */

/* Footer */
.footer {
  display: flex;
  height: 80px;
  background-color: #282828;
  justify-content: space-between;
  align-items: center;
  color: white;
}
.music-player {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.icon__list {
  margin-bottom: 10px;
}
.icon__item {
  display: inline-block;
  margin: 0px 10px;
  text-align: center;
}
.far--special {
  font-size: 24px;
  vertical-align: middle;
}
.player {
  display: flex;
  justify-content: center;
  font-weight: 700;
}
.number {
  margin: 0px 20px;
  font-size: 0.75em;

}
.bar {
  display: flex;
  width: 400px;
  height: 3px;
  background-color: #5a5a5a;
  border-radius: 3px;
  align-self: center;
}
.bar__color {
  height: 100%;
  width: 30%;
  background-color: #c1c1c1;
}
.bar__point {
  display: none;
  width:20px;
  height: 20px;
  background-color: #646868;
  border-radius: 50%;
  align-self: center;
}
.bar__color:hover {

}
/* Footer left-right */
.footer-left, .footer-right {
  width: 300px;
  display: flex;

  padding-left: 10px;
  justify-content: space-between;
  align-items: center;
}
.footer-left__song {
  display: flex;
  align-items: center;
}
.footer-left__img-container {
  max-width: 50px;
  margin-right: 10px;
}
.footer-left__img {
  max-width: 100%;
}
.footer-left__title {
  color: white;
}
.footer-left__sub-title {
  color: #878787;
  font-size: 0.75em;
  font-weight: 500;
}
.footer-left__icons i {
  margin-left: 10px;
}

/* /Footer */
