* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-size: 16px;
  font-family: 'Montserrat', sans-serif;
}
/* Mix */
.page-wrapper {
  height: 100vh;
}
/* /Mix */
/* Main */
.main {
  height: calc(100% - 80px);
  display: flex;
  font-weight: 700;
}
/* Aside */
.aside {
  display: flex;
  flex-direction: column;
  width: 300px;
  height: 100%;
  background-color: black;
}
/* Logo */
.logo {
  display: flex;
  height: 90px;
  background-color: black;
  flex-shrink: 0;
  padding-left: 20px;
  align-items: center;
}
.logo__img {
  width: 50%;
}
/* /Logo */
/* Main-nav */
.main-nav {
  padding-bottom: 20px;
  background-color: black;
}
.main-nav__list {
  list-style: none;
}
.main-nav__item {
  padding: 5px 0px 5px 20px;
}
.main-nav__item:hover {
  border-left: 3px solid #adff2f;
  color: white;
}
.main-nav__link {
  color: #686868;
  text-decoration: none;
}
.main-nav__link:hover {
  color: white;
}
.main-nav__img {
  height: 30px;
  margin-right: 10px;
  vertical-align: middle;
}
/* /Main-nav */
/* Secondary-nav */
.secondary-nav {
  padding-left: 20px;
  height: 100%;
  background-color: black;
  overflow: hidden;
}
.secondary-nav__title {
  margin-bottom: 10px;
  color: white;
  text-transform: uppercase;
}
.secondary-nav__list {
  height: calc(100% - 22px);
  overflow-y: auto;
  list-style: none;
}
.secondary-nav__item {
  padding: 10px 0;
}
.secondary-nav__link {
  color: #686868;
  text-decoration: none;
}
.secondary-nav__img {
  margin-right: 10px;
  font-size: 40px;
  vertical-align: middle;
}
/* /Secondary-nav */
/* Aside-bottom */
.aside-bottom {
  height: auto;
  margin-top: auto;
  padding: 10px 20px;;
  background-color: black;
  flex-shrink: 0;
}
.aside-bottom__install {
  margin-bottom: 10px;
}
.aside-bottom__link {
  text-decoration: none;
  color: #686868;
}
.aside-bottom__download {
  margin-right: 10px;
  height: 20px;
  vertical-align: middle;
}
.aside-bottom__profile {
  margin-top: 20px;
}
.aside-bottom__img {
  display: inline-block;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: grey;
  vertical-align: middle;
}
.aside-bottom__name {
  margin-left: 10px;
  font-size: 1.25em;
  color: white;
}
/* /Aside-bottom */
@media screen and (max-width: 577px ) {
  .aside {
    display: none;
  }
}
/* /Aside */
/* Main-content */
.main-content {
  height: 100%;
  width: calc(100% - 300px);
  overflow-y: auto;
  background-color: yellow;
}
.upgrade {
  width: calc(100% - 300px);
  height: 90px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  position: fixed;
  top: 0;
  right: 0;
  background-color: black;
  color: white;
  z-index: 1;
}
.upgrade__bottom {
  width: 300px;
  padding: 10px 30px;
  border: 2px solid white;
  border-radius: 20px;
  text-transform: uppercase;
  text-align: center;
}
@media screen and (max-width: 577px ) {
  .main-content {
    width: calc(100% - 60px);
  }
  .upgrade{
    width: calc(100% - 60px);
  }
}

/* Main-content */
/* Minimize */
.minimize {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  width: 60px;
  padding: 10px 10px;
  background-color: black;
}
@media screen and (min-width: 576px ) {
  .minimize {
    display: none;
  }
}
.minimize-top__img {
  display: inline-block;
  height: 40px;
}
.minimizie-top__img--mb20 {
  margin-bottom: 20px;
}
.minimize-top__img--border {
  border-radius: 50%;
  background-color: grey;
  vertical-align: middle;
}
.minimize-top__img--small {
  margin: auto 10px;
  height: 20px;
}
/* /Minimize */
/* /Main */

/* Footer */
.footer {
  height: 80px;
  background-color: red;
}
/* /Footer */
