footer, .player, .icon {
  width: 100%
}
.music-player {
  width: calc((100% / 3) - 15px);
  text-align: center;
}
.menu-list li {
  display: inline;
}
.number, .bar {
  display: inline-block;
}
.bar {
  width: 80%;
  height: 4px;
  border-radius: 4px;
  background-color: black;
}
